<ion-content [fullscreen]="true">

  <div class="login-container">

    <!-- Logo -->
    <ion-thumbnail>
      <ion-img src="assets/img/logo_ashbis.jpeg"></ion-img>
    </ion-thumbnail>

    <!-- Título -->
    <h1 class="titulo">¡Bienvenido!</h1>

    <!-- Formulario -->
    <form [formGroup]="datosForm" (ngSubmit)="login()">

      <!-- Email -->
      <ion-item lines="none">
        <ion-label position="stacked">Email</ion-label>
        <ion-input
          type="email"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <!-- Password -->
      <ion-item lines="none">
        <ion-label position="stacked">Contraseña</ion-label>

        <ion-input
          [type]="showPass ? 'text' : 'password'"
          formControlName="password">
        </ion-input>

        <ion-button
          fill="clear"
          slot="end"
          (click)="showPass = !showPass"
        >
          <ion-icon [name]="showPass ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Ingresar -->
      <ion-button
        type="submit"
        color="danger"
        expand="block"
      >
        INGRESAR
      </ion-button>

      <!-- Olvidé mi contraseña -->
      <ion-button
        fill="clear"
        class="btn-olvido"
      >
        Olvidé mi contraseña
      </ion-button>

      <!-- Crear cuenta -->
      <ion-button
        color="medium"
        expand="block"
        (click)="irARegistro()"
      >
        CREAR
      </ion-button>

      <small>¿No tienes una cuenta?</small>

    </form>

    <!-- Enlace inferior -->
    <ion-button class="enlace"
      fill="clear"
      href="https://www.ashbis.com"
    >
      www.ashbis.com
    </ion-button>

  </div>

</ion-content>
