
.btn-add {
  --background: transparent;
  --color: #8b0808;
  border: 2px solid #8b0808;
}
/* Botones QR y Ver Perfil */
.btn-ver {
  --background: transparent !important;   /* Fondo transparente */
  --color: #ffffff !important;            /* Texto blanco */
  --border-color: #8b0808 !important;     /* Borde rojo */
  --border-width: 2px !important;         /* Grosor borde */
  --border-style: solid !important;
  --ripple-color: #8b0808 !important;     /* Efecto toque rojo */
}

ion-item {
  --border-color: transparent !important;
  --inner-border-width: 0px !important;
  --border-width: 0px !important;
}

ion-item::part(native) {
  border: none !important;
  box-shadow: none !important;
}

ion-input::part(native) {
  border-bottom: none !important;
  box-shadow: none !important;
}
